<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="utf-8" >
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/skyengttskyengtt/css/app.css') }}">
	
	<script type="text/javascript" src="{{ asset('bundles/skyengttskyengtt/js/jquery-1.11.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/skyengttskyengtt/js/angular/angular.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/skyengttskyengtt/js/angular/angular-route.min.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('bundles/skyengttskyengtt/js/app.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/skyengttskyengtt/js/directives.js') }}"></script>
	<title>Мини-тест на знание английского языка</title>
</head>
<body ng-app="LangMiniTestApp">
	<div class="test-area" ng-controller="AppController">
		<div class="toolbar">
			<div class="right">
				<ul class="inline">
					<li>
						<span>
							<img title="Attempts" alt="Attempts" src="{{ asset('bundles/skyengttskyengtt/img/lives.png') }}">
							x
							<i>[[ lives ]]</i>
						</span>
					</li>
					<li>
						<span>
							<img title="Score" alt="Score" src="{{ asset('bundles/skyengttskyengtt/img/star.png') }}">
								<i>[[ questionData.score ]]</i>
						</span>
					</li>
					<li>
						<span>
							<img  title="name" alt="name" src="{{ asset('bundles/skyengttskyengtt/img/userinfo_4801.png') }}">
							 <i>[[ username ]]</i>
						</span>
					</li>
				</ul>
		</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix v-spacer">&nbsp;</div>
		<div ng-view></div>
	</div>
	<div loader-screen class="hide">
		<div class="ta-center loader-place">
			<img src="{{ asset('bundles/skyengttskyengtt/img/bigloader.gif') }}">
		</div>
	</div>
	<div error-message class="hide emess" ng-controller="ErrorTooltipController">
		<div class="emess-top-border ">
			<div class="emess-title left">Ошибка</div>
			<div class="emess-closebtn right" ng-click="closeErrorDlg()">X</div>
			<div class="clearfix"></div>
		</div>
		<div class="emess-body">[[ appErrorText ]]</div>
	</div>
</body>
</html>
